/* 設定全局樣式 */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%; 
    max-width: 100%; 
    padding: 10px 20px; 
    box-sizing: border-box; 
}

/* SD Search 保持靠左 */
.search-container label {
    white-space: nowrap;
}

/* 搜尋輸入框 */
.search-container input {
    flex-grow: 1; /* 讓輸入框撐滿可用空間 */
    max-width: 400px; /* 限制輸入框最大寬度 */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px; /* 調整圓角 */
    margin-left: 20px; /* 與 SD Search 保持間距 */
    margin-right: 15px; /* 讓輸入框與 icon 保持適當距離 */
}

/* 使用者圖示靠最右 */
.user-icon {
    border: 4px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: auto; /* 這行會讓 user-icon 靠最右邊 */
}

.user-icon:hover {
    cursor: pointer;
    border-color: #ccc;
}

/* 搜尋結果區域 */
.search-results {
   margin: 20px ;
}

/* 排序選單 */
.sort-container {
    margin: 10px 0;
}

select {
    padding: 5px;
    font-size: 14px;
}


.result-card{
    border: 3px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    white-space: normal;
    overflow-wrap: break-word;
    background-color: #f0f0f0;
    
}

.result-card small{
    font-size: smaller;
    margin: 10px;
    display: block;
}

.result-card h2{
    margin: 10px;
}

.result-card p{
    margin: 10px;
    font-size: 20px;
}

.result-card a{
    text-decoration: none; 
    color: rgb(68, 68, 233);           
}

.result-card a:hover{
    text-decoration: underline; 
}

button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    margin: 10px;
    width: 100%;
    box-sizing: border-box; 
}

button:hover {
    cursor: pointer;
    background-color: #ccc;
}


@media screen and (max-width: 600px) {
    /* 讓搜尋欄可換行 */
    .search-container {
      flex-wrap: wrap; 
      text-align: center;
      justify-content: center; 
    }

    .search-container label {
      width: 100%;
      font-size: larger;
      font-weight: bold;
    }

    .search-container input {
      
      margin-left: 0;
      margin-top: 10px;
      width: 100%;
      text-align: center;
      
    }
  
  
    .user-icon {
      display: none;
    }
  
    .result-card {
      margin: 10px 0; 
      padding: 10px;
    }
  
    button {
      width: 100%;
      font-size: 16px;
    }
  }